<!DOCTYPE html>
<html>
  <head>
    <title>Liga REICER de Rfactor </title>
    <%= csrf_meta_tag %>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
    <%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %>
    <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
    <%= stylesheet_link_tag 'custom', :media => 'screen' %>

  </head>
  <body>
    <div>
      <header class="header">
        <%= image_tag("logo.png", :alt => "Liga REICER", :class => "round") %>
      </header>
      <br/>
        <nav class="nav">
          <ul>
            <%= link_to image_tag("home_button.gif", :alt => "Ir para a home"), 'home' %><br/>
            <%= link_to image_tag("downloads_button.gif", :alt => "Ir para a home"), 'downloads' %><br/>
            <%= link_to image_tag("regras_button.gif", :alt => "Ir para a home"), 'regras' %><br/>
            <%= link_to image_tag("forum_button.gif", :alt => "Ir para a home"), 'http://ligareicer.forumbrasil.net/' %><br/>
          </ul>
        </nav>
      <section class="section">
        <%= yield %>
      </section>
    </div>
  </body>
</html>
